@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager


@{
    ViewData["Title"] = "Home Page";
}

<style>
    main{
        display: grid;
        place-items: center center;
        align-content: center;
        color: var(--main-text-color);
    }
</style>

<h1>Welcome To Courses Management Application</h1>

@if (SignInManager.IsSignedIn(User)) 
{
    <h2>
        Signed In As @User.Identity.Name
    </h2>    
}
