/*general layout config*/

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

/*specific layout config*/

:root {
    --main-bg-color: #202124;
    --lighter-main-bg-color: #303030;
    --secondary-bg-color: #421799;
    --main-text-color: #abb1b8;
    --secondary-text-color: #dcdae0;
}

* {
    margin: 0;
}

body {
    grid-template: 100vh / minmax(70px, 1fr) 19fr;
    grid-template-areas: "nav main";
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/*navbar config*/

nav {
    top: 0;
    position: sticky;
    grid-area: nav;
    grid-template-rows: 2fr 1fr;
    background-color: var(--lighter-main-bg-color);
}

nav a {
    background-color: transparent;
    color: var(--main-text-color);
}

nav a:hover {
    border-radius: 32%;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    transition: all 0.4s ease-out;
}