/*general layout config*/

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/*specific layout config*/

* {
    margin: 0;
}

body {
    grid-template-rows: minmax(100vh, 1fr);
    grid-template-columns: 1fr 19fr;
    grid-template-areas: "nav main";
    background-color: #202124;
}

nav {
    grid-area: nav;
    align-items: center;
    background-color: #303030;
}

main {
    grid-area: main;
}

nav > button {
    border-width: 0;
    background-color: transparent;
    color: #abb1b8;
}

    nav > button:hover {
        border-radius: 35%;
        background-color: #421799;
        color: #dcdae0;
        transition: all 0.4s ease-out;
    }
